{% extends "master.html" %}
{% block title %}
  Test List
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item active" aria-current="true"><h3>Tests:</h3></li>
          {% for function, module in function_to_module_map.items %}
            <li class="list-group-item">
                <a href="{% url 'createTest' test=function %}">{{ function }}</a>
            </li>
          {% endfor %}
      </ul>
  </div>
</div>
{% endblock %}